@import 'variables';
@import 'mixins';
* {
    @include format-document;
}
body{
    background-color: #000;
}
.main-metodologia {
    @include main;
    background-color: black;
    .container-metodologia {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: white;
        .contenedor-parrafos {
            width: 50%;
            height: 100%;
            padding: 15px;
            h2 {
                font-family: $font-download;
                color: black;
            }
            p {
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                margin: 10px;
                padding: 5px;
                color: black;
                span {
                    background-color: #D0D05C;
                    color: #000;
                    
                }
            }
        }
        .img-metodologia {
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 100%;
                height: 700px;
            }
        }
    }
}
@media screen and (max-width:1024px) {
    .main-metodologia {
        @include main;
    background-color: #000;
        .container-metodologia {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 15px;
            .contenedor-parrafos {
                width: 80%;
                height: 100%;
                padding: 15px;
                h2 {
                    font-family: $font-download;
                }
                p {
                    font-family: $font-download;
                    margin: 10px;
                    padding: 5px;
                }
            }
            .img-metodologia {
                width: 80%;
                height: 100%;
                background-color: #515050;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}